@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lavender;
}

nav {
    background-color: rgba(80, 84, 119, 0.527);
    /* border-radius: 55px;
    margin-top: 15px; */
    height: 10vh;
}

a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: aliceblue;
    padding: 0px 20px;
    /* padding-bottom: 0; */
    font-size: 20px;
}

ul {
    list-style: none;
    height: 10vh;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    height: 10px;
}

.logo {
    height: 7vh;
    width: 3.5vw;
    border-radius: 10px;
    position: absolute;
    top: 1.5vh;
    left: 4vw;
}

/* Divisions */

.container{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-around;
}
.divs{
    height: 50vh;
    width: 30vw;
    margin-top: 50px;
    text-align: center;
}
.div1{
    background-color:red;
}
.font1{
    position: relative;
    top: 50%;
}
.div2{
    background-color:blue;
}